@media (min-width: 425px){
    body > main{
        padding-inline: 16px;
    }
}

@media (min-width: 768px){
    body > main{
        padding-inline: 48px;
    }

    body > header{
        padding-inline: 48px;
    }

    /* nav.n-top-1{
        padding-block: 24px 8px;
    } */

    nav.n-top-1 form{
        max-inline-size: 320px;
    }

    nav.n-top-1 .n-t-1-end{
        min-inline-size: var(--space-nav-top-end);
    }

    menu.m-nav{
        gap: 32px;
    }

    nav.n-top-2 menu.m-nav{
        padding-inline: 0 32px;
    }

    .btn.btn-logo{
        display: flex;
    }

    .btn.btn-auth > span{
        font: var(--font-size-label)/1.2 var(--font-family-semibold);
        display: block;
        text-align: left;
    }

    .btn.btn-auth > span small{
        font-family: var(--font-family-regular);
        color: inherit;
    }

    section.s-table header .s-t-h-actions .btn picture *{
        inline-size: 14px;
        block-size: 14px;
    }

    section.s-table header .s-t-h-actions .btn span{
        display: inherit;
    }

    section.s-table{
        /* border-radius: 16px; */
        padding-inline: 24px;
    }

    section.s-table header{
        padding-block: 16px 8px;
        padding-inline: 0;
    }

    .t-row{
        padding-block: 16px;
        padding-inline: 0;
    }

    .t-r-actions.t-r-actions-mobile{
        display: none;
    }

    .t-r-actions.t-r-actions-desktop{
        display: flex;
        flex-flow: row wrap;
    }

    fieldset.fs-search{
        justify-content: center;
    }

    fieldset.fs-search input{
        /* font-size: 1.33em; */
        min-block-size: 48px;
        max-inline-size: fit-content;
    }

    fieldset.fs-search input:placeholder-shown{
        max-inline-size: 11ch;
    }

    .card-1{
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        gap: 16px;
    }

    .card-1 .c-1-icon{
        display: block;
    }

    nav.n-dialog{
        /* inline-size: 480px; */
        max-inline-size: 480px;
        left: calc(50% - 480px/2);
        bottom: 12px;
        border-radius: 16px;
    }
}

@media (min-width: 1024px){
    body{
        padding-block: 8px 0;
    }

    body.on-dialog::before{
        display: none;
    }

    body > header,
    body > main{
        inline-size: 100%;
        transition: all .3s ease .3s;
    }

    body > main{
        padding-block: 32px 0;
    }

    body.on-dialog > header,
    body.on-dialog > main{
        inline-size: 70%;
        padding-inline: 48px 32px;
        transition: all .3s ease;
    }

    body nav.n-dialog{
        bottom: unset;
        top: 8px;
        left: 70%;
        max-inline-size: calc(30% - var(--space-dialog));
    }

    .btn.btn-submit{
        font-size: var(--font-size-p);
    }
}

@media (min-width: 1280px){
    nav.n-top-1 form{
        max-inline-size: 360px;
    }

    body > header,
    body > main{
        padding-inline: 120px;
    }
}

@media (min-width: 1440px){
    body{
        padding-inline: calc(50vw - 1440px/2);
    }

    body nav.n-dialog{
        left: calc(50vw - 1440px/2 + 1440px*.7);
        max-inline-size: calc(1440px*.3 - var(--space-dialog));
    }

    /* body > header,
    body > main{
        padding-inline: calc(50vw - 1152px/2);
    } */
}