.card-1 .c-1-icon{
    display: none;
}

.card-1 .c-1-detail{
    display: flex;
    flex-flow: column wrap;
    gap: 4px;
}

.card-1 .c-1-detail > h6{
    margin-block: 4px 0;
}

.card-1 .c-1-detail > p{
    display: flex;
    flex-flow: row wrap;
    gap: 8px;
    align-items: center;
}

.card-1 .c-1-detail > p picture *{
    margin-block: 0 2px;
}

.card-2-group{
    inline-size: 100%;
    display: flex;
    flex-flow: row wrap;
    gap: 8px;
}

.card-2{
    font-size: var(--font-size-xs);
    border: 1px solid var(--separator-color-light);
    border-radius: 12px;
    padding-block: 4px;
    padding-inline: 8px;
}

.card-3{
    text-align: center;
    inline-size: 100%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap: 12px;
}

.card-4{
    display: flex;
    flex-flow: row wrap;
    gap: 12px;
}

.card-5{
    border-radius: 6px;
    background: var(--bg-color-body);
    padding-inline: 12px;
    padding-block: 12px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 12px;
}

.card-5.c-5-bordered{
    background: var(--white-color);
    border: 1px solid var(--separator-color-light);
}

.card-4 > .card-5{
    inline-size: 100%;
}

.card-5 p{
    font-size: var(--font-size-xs);
    flex: 1;
}

.card-6{
    display: flex;
    flex-flow: column wrap;
    gap: 8px;
}

.card-4 > .card-6{
    padding-inline: 12px;
}

.card-7{
    display: flex;
    flex-flow: row wrap;
    gap: 6px;
}

.card-7 p{
    font-size: var(--font-size-xs);
    padding-block: 2px 0;
    flex: 1;
}

.card-7.c-7-p p{
    font-size: var(--font-size-p);
}

.card-7 p.c-7-close{
    margin-block: -1ch 0;
}

.card-7 p span{
    color: var(--font-color-secondary);
}

.card-7 p span.c-tertiary{
    color: var(--font-color-tertiary);
}

.card-7-group{
    display: flex;
    flex-flow: column wrap;
    gap: 8px;
}

.card-4 > .card-8.active{
    padding-block: 0 12px;
}

.card-8.active::before{
    content: attr(data-heading);
    font: var(--font-size-p)/1.2 var(--font-family-semibold);
}

.card-8 > *:not(.c-8-open){
    display: none;
}

.card-8.active > *:not(.c-8-open){
    display: flex;
}

.card-8.active > .c-8-open{
    display: none;
}

.card-4 > .card-8{
    inline-size: 100%;
    padding-inline: 12px;
}

.card-9-group{
    display: flex;
    flex-flow: column wrap;
    gap: 24px;
}

.card-10-group{
    position: relative;
    inline-size: 100%;
    display: flex;
    flex-flow: column wrap;
    gap: 16px;
}

fieldset.fs-list .card-10-group h3{
    padding-inline: 12px;
}

.card-11-group{
    overflow-y: auto;
    inline-size: 100%;
    max-block-size: 30vh;
    /* padding-block: 0 140px; */
    display: flex;
    flex-flow: column nowrap;
    gap: 16px;
}

fieldset.fs-list .card-11-group{
    padding-inline: 12px;
}

.card-10-group[data-search-is-recent] > .card-11-group > .card-11:not([data-recent]){
    display: none;
}

/* .card-11{
    inline-size: 100%;
    display: flex;
    flex-flow: row wrap;
    gap: 12px;
}

.card-11 .c-11-content{
    display: flex;
    flex-flow: column wrap;
    gap: 2px;
}

.card-11 .c-11-content p{
    font-size: var(--font-size-label);
}

.card-11 .c-11-content .c-11-c-action{
    display: none;
    margin-block: auto 0;
    color: var(--color-5);
}

.card-11:is(.active, :hover) .c-11-content .c-11-c-action.active{
    display: inherit;
}

.card-11 .c-11-more{
    margin-inline: auto 0;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: end;
    gap: 20px;
}

.card-11 .c-11-more .c-11-m-action{
    display: none;
    margin-block: 0 auto;
}

.card-11:is(.active, :hover) .c-11-more .c-11-m-action.active{
    display: inherit;
} */

.card-12{
    background: var(--btn-color-secondary);
    border-radius: var(--btn-border-radius);
    display: flex;
    flex-flow: row wrap;
}

nav.n-dialog.n-dialog-dark .card-12{
    background: var(--color-4);
}

.card-11 .c-11-more .card-12{
    display: none;
}

.card-11:is(.active, :hover) .c-11-more .card-12.active{
    display: inherit;
}

.card-12 input{
    appearance: none;
    padding: 0;
    inline-size: 2.5ch;
    text-align: center;
    min-block-size: 44px;
    border: none !important;
    color: var(--white-color);
}

.card-12 .btn{
    padding-inline: var(--btn-padding-block);
    aspect-ratio: 1 / 1;
    justify-content: center;
}

.card-13{
    border-top: 1px solid var(--separator-color-light);
    inline-size: 100%;
    background: var(--bg-color-dialog-light);
    padding-inline: calc(var(--input-padding-inline)*.5);
    padding-block: 24px 0;
    display: flex;
    flex-flow: column wrap;
    gap: 8px;
}

nav.n-dialog.n-dialog-dark .card-13{
    border-top: 1px solid var(--separator-color-dark);
    background: var(--bg-color-dialog-dark);
}

.card-13 p{
    font-family: var(--font-family-semibold);
    inline-size: 100%;
    display: flex;
    justify-content: space-between;
}

.card-14-group{
    display: flex;
    flex-flow: row wrap;
    gap: 24px;
}

.card-14{
    display: flex;
    flex-flow: row wrap;
    gap: 12px 24px;
}

.card-14-group .card-14{
    inline-size: 100%;
}

.card-14 > .card-7{
    align-items: center;
    flex: 1;
}

.card-15 p{
    position: relative;
    display: flex;
    flex-flow: column wrap;
    gap: 4px;
}

.card-15 p::before{
    content: '';
    position: absolute;
    top: 7px;
    left: 2px;
    inline-size: 0;
    block-size: calc(100% - 2*7px);
    border-left: 4px dotted var(--btn-color-tertiary);
    z-index: 1;
}

.card-15 p span{
    display: flex;
    flex-flow: row wrap;
    gap: 6px;
    align-items: center;
}

.card-15 p span::before{
    content: '';
    inline-size: 4px;
    block-size: 4px;
    border-radius: 50%;
    background: #fff;
    border: 2px solid var(--btn-color-tertiary);
    z-index: 2;
}

.card-14 > .card-15{
    inline-size: 100%;
}