.card-1 .c-1-icon{
    display: none;
}

.card-1 .c-1-detail > h6{
    margin-block: 6px 2px;
}

.card-group-2{
    inline-size: 100%;
    display: flex;
    flex-flow: row wrap;
    gap: 8px;
}

.card-2{
    font-size: var(--font-size-label);
    border: 1px solid var(--separator-color);
    border-radius: 12px;
    padding-block: 4px;
    padding-inline: 8px;
}

.card-3{
    inline-size: 100%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap: 12px;
}