nav.n-dialog{
    position: fixed;
    bottom: 0;
    left: 0;
    inline-size: 100%;
    min-block-size: 300px;
    background: var(--bg-color-dialog);
    border-radius: 16px 16px 0 0;
    opacity: 0;
    visibility: hidden;
    transform: translateY(50%);
    z-index: -1;
    transition: all .3s ease;
    padding-block: 24px 12px;
    padding-inline: 0;
}

nav.n-dialog.active{
    opacity: 1;
    visibility: visible;
    z-index: 99;
    transform: translateY(0);
    transition: all .3s ease .3s;
}