@font-face {
    font-family: GoogleSans-Bold;
    src: url(/fonts/google-sans/GoogleSans-Bold.ttf) format('truetype'),
        url(/fonts/google-sans/GoogleSans-Bold.otf) format('opentype');
    display: swap;
}

@font-face {
    font-family: GoogleSans-Medium;
    src: url(/fonts/google-sans/GoogleSans-Medium.ttf) format('truetype'),
        url(/fonts/google-sans/GoogleSans-Medium.otf) format('opentype');
    display: swap;
}

@font-face {
    font-family: GoogleSans-Regular;
    src: url(/fonts/google-sans/GoogleSans-Regular.ttf) format('truetype'),
        url(/fonts/google-sans/GoogleSans-Regular.otf) format('opentype');
    display: swap;
}