form{
    display: flex;
    flex-flow: column wrap;
    gap: 12px;
}

nav.n-dialog.n-d-multistep form{
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    max-block-size: 0;
    transition: opacity .3s ease,
                visibility .3s ease;
}

nav.n-dialog.n-d-multistep form.active{
    opacity: 1;
    visibility: visible;
    overflow-y: hidden;
    max-block-size: unset;
}

form header{
    padding-inline: 16px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 8px;
}

form header .btn:is([data-close-dialog_btn], [data-current-step], [data-previous-step_btn]){
    margin-block: 0 auto;
}

form header .h-heading{
    flex: 1;
    display: flex;
    flex-flow: column wrap;
    gap: 4px;
}

form main{
    min-block-size: 110px;
    max-block-size: 50vh;
    overflow-y: auto !important;
    padding-block: 24px 0;
    padding-inline: 16px;
    scroll-margin: 0 0 4ch 0;
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
}

form main::-webkit-scrollbar{
    display: none;
}

form main.m-hug{
    overflow-y: hidden !important;
    max-block-size: unset;
}

form footer{
    padding-block: 12px 6px;
    padding-inline: 16px;
    display: flex;
    flex-flow: column wrap;
    gap: 4px;
    align-items: center;
}

nav.n-dialog form{
    inline-size: 100%;
    color: var(--color-dialog-form-light);
}

nav.n-dialog.n-dialog-dark form{
    color: var(--color-dialog-form-dark);
}

nav.n-top-1 form{
    flex: 1;
}

fieldset{
    border: none;
    scroll-margin: 0 0 4ch 0;
    display: flex;
    flex-flow: row wrap;
    gap: 8px;
}

form main fieldset{
    inline-size: 100%;
    block-size: fit-content;
}

fieldset.fs-icon{
    border: 1px solid var(--color-input-border-light);
    border-radius: 8px;
    /* padding-inline: 16px; */
    padding-inline: var(--input-padding-inline);
    block-size: fit-content;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 12px;
}

nav.n-dialog.n-dialog-dark fieldset.fs-icon{
    border: 1px solid var(--color-input-border-dark);
}

nav.n-dialog.n-dialog-dark fieldset.fs-icon input{
    border: none;
    color: var(--white-color);
}

fieldset.fs-icon input{
    border: none;
    padding-inline: 0;
    padding-block: 0;
}

fieldset.fs-search{
    inline-size: 100%;
    background: var(--bg-color-search);
    border-radius: 32px;
    box-shadow: var(--shadow-search);
    padding-inline: 24px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 14px;
}

fieldset.fs-sm{
    inline-size: calc(50% - 20px/2);
}

fieldset input{
    inline-size: 100%;
}

:is(form > main,fieldset).is-invalid::after{
    content: attr(data-invalid);
    font: var(--font-size-label)/1.2 var(--font-family-semibold);
    inline-size: 100%;
    color: var(--font-color-invalid);
}

fieldset.is-invalid input{
    border-color: var(--font-color-invalid);
}

label{
    font: var(--font-size-label)/1.2 var(--font-family-semibold);
    inline-size: 100%;
}

legend{
    font: var(--font-size-label)/1.2 var(--font-family-semibold);
    padding-block: 0 8px;
}

small{
    color: var(--color-6);
}

input,
textarea{
    font: var(--font-size-p)/1.2 var(--font-family-regular);
    min-block-size: 48px;
    border: 1px solid var(--color-input-border-light);
    color: var(--color-input-light);
    background: transparent;
    border-radius: 8px;
    /* padding-inline: 16px;
    padding-block: 12px; */
    padding-inline: var(--input-padding-inline);
    padding-block: var(--input-padding-block);
}

nav.n-dialog.n-dialog-dark input,
nav.n-dialog.n-dialog-dark textarea{
    border: 1px solid var(--color-input-border-dark);
    color: var(--color-input-dark);
}

input[type="checkbox"]{
    inline-size: 20px;
    block-size: 20px;
    min-block-size: 24px;
    accent-color: var(--btn-color-primary);
    flex: unset;
}

input[type="checkbox"] + label{
    font-family: var(--font-family-regular);
    flex: 1;
}

textarea{
    min-block-size: 112px;
    resize: none;
}

input[type="radio"],
.inp-radio{
    display: none;
}

input[type="radio"] + label,
.inp-radio + label{
    text-align: center;
    background: transparent;
    border: 1px solid var(--color-input-border-light);
    min-block-size: 48px;
    transition: all .3s ease;
    align-items: center;
    justify-content: center;
}

input:is([type="radio"], [type="checkbox"]) + label.btn{
    /* padding-block: 12px; */
    padding-block: var(--btn-padding-inline);
}

input:is([type="radio"], [type="checkbox"]) + label.btn.btn-h-width{
    inline-size: calc(50% - 4px);
    flex: unset;
}

input:is([type="radio"], [type="checkbox"]) + label.btn.btn-check{
    position: relative;
    border: none !important;
    padding-inline: 0;
    padding-block: 0;
    background: none !important;
    min-block-size: fit-content;
    gap: 16px;
}

nav.n-dialog.n-dialog-dark input:is([type="radio"], [type="checkbox"]) + label.btn{
    border: 1px solid var(--color-input-border-dark);
}

input:is([type="radio"], [type="checkbox"]) + label.btn.btn-check::before{
    content: '';
    inline-size: 16px;
    block-size: 16px;
    border: 1px solid var(--color-input-border-light);
}

nav.n-dialog.n-dialog-dark input:is([type="radio"], [type="checkbox"]) + label.btn.btn-check::before{
    border: 1px solid var(--color-input-border-dark);
}

input[type="radio"]:checked + label.btn.btn-check::after{
    content: '';
    position: absolute;
    top: 50%;
    left: 1px;
    background-image: url('/img/icon/check.svg');
    background-size: contain;
    transform: translateY(-50%);
    inline-size: 16px;
    block-size: 16px;
}

nav.n-dialog.n-dialog-dark input[type="radio"]:checked + label.btn.btn-check::after{
    background-image: url('/img/icon/check-light.svg');
}

input[type="radio"] + label.btn.btn-f-width{
    flex: unset;
}

input[type="radio"]:checked + label,
.inp-radio:checked + label{
    border: 1px solid var(--btn-color-primary);
    color: var(--btn-color-primary);
    background: var(--bg-color-input-checked-light);
}

nav.n-dialog.n-dialog-dark input[type="radio"]:checked + label,
nav.n-dialog.n-dialog-dark .inp-radio:checked + label{
    border: 1px solid var(--color-input-border-dark);
    background: var(--bg-color-input-checked-dark);
}

fieldset input,
fieldset textarea,
fieldset input[type="radio"] + label{
    flex: 1;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

/* nav.n-dialog input{
    color: var(--white-color);
} */

fieldset.fs-search input{
    font: var(--font-size-h3)/1.2 var(--font-family-semibold);
    background: transparent;
    inline-size: calc(100% - 30px);
    color: var(--font-color-primary);
    border: none;
    min-block-size: 52px;
    padding-inline: 0;
}

fieldset.fs-list{
    gap: 20px;
}