section.s-table{
    background: var(--bg-color-table);
    border-radius: 16px 16px 0 0;
}

body > main section.s-table{
    overflow-y: hidden;
    box-shadow: var(--shadow-table);
    max-block-size: 100%;
    display: flex;
    flex-flow: column nowrap;
}

section.s-table header{
    padding-block: 12px 6px;
    padding-inline: 16px;
    border-bottom: 1px solid var(--separator-color-light);
    inline-size: 100%;
    padding-block: 12px 8px;
    display: flex;
    flex-flow: row wrap;
    gap: 24px;
    align-items: center;
    justify-content: space-between;
}

section.s-table header .s-t-h-actions{
    display: flex;
    flex-flow: row wrap;
    gap: 8px;
}

section.s-table .s-t-body{
    inline-size: 100%;
    /* background: var(--separator-color-light); */
    display: flex;
    flex-flow: column wrap;
    /* gap: 1px; */
}

section.s-table .s-t-body::-webkit-scrollbar{
    display: none;
}

body > main section.s-table .s-t-body{
    overflow-y: auto;
    max-block-size: 100%;
    block-size: 100vh;
    display: flex;
    flex-flow: column nowrap;
}

.t-row{
    position: relative;
    inline-size: 100%;
    background: var(--bg-color-table);
    padding-block: 12px;
    padding-inline: 16px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    gap: 12px 24px;
}

.s-t-body > .t-row{
    border-bottom: 1px solid var(--separator-color-light);
}

.t-row.t-r-last{
    padding-block: 24px;
    border-bottom: none;
}

.t-r-actions{
    display: flex;
    flex-flow: row wrap;
    gap: 12px;
}

.t-r-actions.t-r-actions-desktop{
    display: none;
}

.t-r-extra{
    position: absolute;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    max-block-size: 0;
    inline-size: 100%;
    padding-block: 0;
    transition: opacity .3s ease,
                visibility .3s ease;
}

.t-r-extra.active{
    position: relative;
    bottom: unset;
    opacity: 1;
    visibility: visible;
    overflow-y: hidden;
    max-block-size: 100%;
    padding-block: 0 4px;
    transition: opacity .3s ease .3s,
                visibility .3s ease .3s;
}