:root{
    --primary-color: red;

    --secondary-color: red;
    --secondary-color-1: #F0F1FA;

    --white-color: #fff;
    --black-color: #0E1C1F;

    --font-color: #444344;
    --font-family-bold: GoogleSans-Bold, sans-serif;
    --font-family-semibold: GoogleSans-Medium, sans-serif;
    --font-family-regular: GoogleSans-Regular, sans-serif;
    --font-size-min: 10px;

    --separator-color: #cdcdcd;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box !important;
}

@font-face {
    font-family: GoogleSans-Bold;
    src: url(/fonts/google-sans/GoogleSans-Bold.ttf) format('truetype'),
        url(/fonts/google-sans/GoogleSans-Bold.otf) format('opentype');
    display: swap;
}

@font-face {
    font-family: GoogleSans-Medium;
    src: url(/fonts/google-sans/GoogleSans-Medium.ttf) format('truetype'),
        url(/fonts/google-sans/GoogleSans-Medium.otf) format('opentype');
    display: swap;
}

@font-face {
    font-family: GoogleSans-Regular;
    src: url(/fonts/google-sans/GoogleSans-Regular.ttf) format('truetype'),
        url(/fonts/google-sans/GoogleSans-Regular.otf) format('opentype');
    display: swap;
}

body {
    font: var(--font-size-min)/1.2 var(--font-family-regular);
    color: var(--font-color);
    background: var(--white-color);
    overflow: hidden;
}

/* h1 {
    font: 2.33em/1.2 var(--font-family-bold);
}

h2 {
    font: 2em/1.2 var(--font-family-bold);
}
*/

h3 {
    font: 1.4em/1.2 var(--font-family-semibold);
}

/*
h4 {
    font: 1.167em/1.2 var(--font-family-bold);
} */

h6{
    font: 1.2em/1.2 var(--font-family-semibold);
}

p {
    font: 1em/1.2 var(--font-family-regular);
}

a,
button {
    all: unset;
    font: 1.1em/1.2 var(--font-family-semibold);
    color: var(--font-color);
}

p a,
p button{
    font-size: inherit;
    display: inline !important;
}

li {
    list-style: none;
}

img,
svg {
    vertical-align: bottom;
}

input{
    font: 1.1em/1.2 var(--font-family-semibold);
    border: none;
    min-height: 40px;
}

fieldset{
    all: unset;
}

fieldset.t-search{
    width: 100%;
    border: 1px solid var(--separator-color);
    border-radius: 40px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

fieldset.t-search input{
    font-size: 1.3em;
    max-width: fit-content;
    flex: 1;
}

fieldset.t-search input:placeholder-shown{
    max-width: 88px;
    flex: unset;
}

.btn {
    padding: 8px 12px;
    /* padding-bottom: 6px !important; */
    border-radius: 8px;
    text-decoration: none;
    min-height: 40px;
    width: fit-content;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 6px;
}

p .btn{
    padding: 0;
    min-height: 0;
}

.btn.btn-minimal{
    padding: 0;
    min-height: 0;
}

.btn.btn-underline{
    text-decoration: underline;
}

.btn picture *{
    margin-bottom: 2px;
}

.btn.btn-underline{
    text-decoration: underline;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 12px 16px;
    padding-bottom: 0;
    border-bottom: 1px solid var(--separator-color);
    background: var(--white-color);
    z-index: 99;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 24px;
}

header nav{
    width: 100%;
    margin-top: -16px;  
}

header nav ul{
    overflow-x: auto;
    display: flex;
    flex-flow: row nowrap;
    gap: 16px;
}

header nav ul::-webkit-scrollbar{
    display: none;
}

header nav ul a{
    opacity: .5;
    text-decoration: none;
}

header nav ul a.active{
    opacity: 1;
}

header #btn-auth {
    margin-left: auto;
}

header .btn {
    padding: 0 !important;
}

header #btn-logo .logotype {
    display: none;
}

main {
    width: 100%;
    height: 100vh;
    padding-top: 101px;
    overflow: hidden;
    display: flex;
    flex-flow: column nowrap;
}

section {
    width: 100%;
    padding: 8px 16px;
}

section.s-sum-up{
    background: var(--secondary-color-1);
    border-radius: 0 0 12px 12px;
    padding: 16px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 12px;
}

section.s-sum-up.is-closed{
    padding-top: 8px;
    padding-bottom: 0;
    background: transparent;
}

section.s-table-search{
    padding: 10px 32px 4px 32px;
}

section.s-table-head{
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: 1px solid var(--separator-color);
    display: flex;
    flex-flow: row wrap;
}

section.s-table-content{
    padding: 0;
    overflow-y: auto;
    flex: 1;
}

.a-card-group-1{
    width: 100%;
    overflow-x: auto;
    display: flex;
    flex-flow: row nowrap;
    gap: 24px;
}

.a-card-group-1::-webkit-scrollbar{
    display: none;
}

.a-card-1{
    display: flex;
    flex-flow: column wrap;
    gap: 2px;
}

.a-card-group-1 .a-card-1{
    min-width: fit-content;
}

.a-card-1 p{
    font: 1.1em/1.2 var(--font-family-semibold);
}

.a-card-2{
    padding: 6px 8px;
    background: var(--white-color);
    border-radius: 6px;
    display: flex;
    flex-flow: row wrap;
    gap: 4px;
}

.a-card-1 .a-card-2{
    margin-top: 2px;
}

section.s-sum-up #close-sum-up{
    display: none;
}

section.s-sum-up.is-closed #close-sum-up{
    display: block;
    width: 100%;
    text-align: center;
}

section.s-sum-up.is-closed > *:not(#close-sum-up){
    display: none;
}

section.s-table-head .t-h-actions{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 8px;
}

section.s-table-head .t-h-title{
    padding: 12px;
    padding-left: 0;
    flex: 1;
}

section.s-table-head .t-h-filter{
    padding: 12px;
    padding-right: 0;
    display: flex;
    justify-content: end;
}

.t-row{
    width: 100%;
    border-bottom: 1px solid var(--separator-color);
    padding: 12px 16px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.t-row .t-r-info{
    padding-right: 16px;
    flex: 1;
    display: flex;
    flex-flow: column wrap;
    gap: 2px;
}

.t-row .t-r-more{
    display: none;
}

.a-card-group-3{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    gap: 12px;
}

.t-row .t-r-info .a-card-group-3{
    margin-bottom: 4px;
}

.t-row .t-r-info p{
    font-size: 1.15em;
}

.a-card-3{
    font-size: 1.1em;
    padding: 4px 8px;
    border: 1px solid var(--separator-color);
    border-radius: 12px;
}