*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: IsidoraSans-Bold;
    src: url(/fonts/isidora-sans/IsidoraSans-Bold.ttf) format('truetype'),
         url(/fonts/isidora-sans/IsidoraSans-Bold.otf) format('opentype');
    display: swap;
}

@font-face {
    font-family: IsidoraSans-SemiBold;
    src: url(/fonts/isidora-sans/IsidoraSans-SemiBold.ttf) format('truetype'),
         url(/fonts/isidora-sans/IsidoraSans-SemiBold.otf) format('opentype');
    display: swap;
}

@font-face {
    font-family: IsidoraSans-Regular;
    src: url(/fonts/isidora-sans/IsidoraSans-Regular.ttf) format('truetype'),
         url(/fonts/isidora-sans/IsidoraSans-Regular.otf) format('opentype');
    display: swap;
}

body{
    font: 12px/1.2 IsidoraSans-Regular, sans-serif;
    color: #444344;
    background: #fff;
}

h1{
    font: 2.33em/1.2 IsidoraSans-Bold, sans-serif;
}

h2{
    font: 2em/1.2 IsidoraSans-Bold, sans-serif;
}

h3{
    font: 1.33em/1.2 IsidoraSans-Bold, sans-serif;
}

h4{
    font: 1.167em/1.2 IsidoraSans-Bold, sans-serif;
}

a,
button{
    font: 1.167em/1.2 IsidoraSans-SemiBold, sans-serif;
    color: #444344;
    border: none;
    background: none;
}

li{
    list-style: none;
}

details{
    font-size: 1.33em;
    background: #F0F1FA;
    padding: 16px;
    padding-left: 58px;
    border-radius: 8px;
}

details summary{
    font-family: IsidoraSans-SemiBold;
    position: relative;
    min-height: 30px;
    padding-right: 22px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

details[open] summary{
    margin-bottom: 8px;
}

details summary::before{
    content: '';
    position: absolute;
    top: 50%;
    left: -42px;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    background-image: url(/img/icon/luggage.svg);
    background-size: contain;
}

details summary::after{
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 14px;
    height: 14px;
    background-image: url(/img/icon/chevron-down.svg);
    background-size: contain;
}

details[open] summary::after{
    transform: translateY(-50%) rotate(180deg);
}

details #text{
    color: red;
}

.btn{
    padding: 8px 12px;
    padding-bottom: 6px !important;
    border-radius: 8px;
    text-decoration: none;
    min-height: 40px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 12px;
}

.btn img,
.btn svg{
    margin-bottom: 2px;
}

.btn.btn-primary{
    background: #6E1EE6;
    color: #fff;
}

.btn.btn-secondary{
    background: #F0F1FA;
}

.btn.btn-terciary{
    background: transparent;
}

.btn.btn-bordered{
    border: 1px solid #F0F1FA;
}

.btn.btn-complain-book{
    padding: 16px 12px !important;
    width: fit-content;
}

.btn.btn-round{
    border-radius: 40px;
    padding: 8px 16px;
}

img,
svg{
    vertical-align: bottom;
}

hr{
    background: #cdcdcd;
    border: 0.5px solid #cdcdcd;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 12px 16px;
    background: #fff;
    z-index: 99;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 4px;
}

header nav{
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
}

header #btn-auth{
    margin-left: auto;
}

header .btn{
    padding-top: 0;
    padding-bottom: 0;
}

main{
    width: 100%;
    padding-top: 64px;
    min-height: 200px;
}

section{
    width: 100%;
    padding: 54px 16px;
}

section.s-hero{
    padding-top: 12px;
    display: flex;
    flex-flow: column wrap;
    gap: 12px;
}

section .s-header-1{
    margin-bottom: 32px;
}

section .s-header-2{
    margin-bottom: 24px;
}

footer{
    width: 100%;
    padding: 48px 16px 24px 16px;
    display: flex;
    flex-flow: column wrap;
    gap: 24px;
}

footer ul{
    display: flex;
    flex-flow: column;
    gap: 8px;
}

footer a{
    text-decoration: none;
}

footer hr{
    margin-top: 12px;
}

footer ul.f-caption{
    flex-flow: row wrap;
    gap: 20px 10px;
}

footer ul.f-caption li:last-child{
    width: 100%;
}

.card-group{
    display: flex;
    flex-flow: column wrap;
}

.card-group{
    gap: 32px;
}

.card{
    display: flex;
    flex-flow: row wrap;
    gap: 16px;
}

.card.card-1{
    padding: 0 24px;
}

.card.card-4{
    text-align: center;
}

.card.card-5{
    padding: 24px 32px;
    text-align: center;
    border-radius: 40px;
    min-height: calc(70vh - 64px - 24px);
    flex-flow: column wrap;
    justify-content: center;
}

.card.card-5.c-5-bg-1{
    background: #F5EFFD;
}

.card.card-5.c-5-bg-2{
    background: #FEF9ED;
}

.card .c-info{
    display: flex;
    flex-flow: column wrap;
    gap: 4px;
    width: 100%;
}

.card.card-1 .c-info{
    width: auto;
    flex: 1;
}

.card.card-3 .c-info{
    gap: 12px;
}

.card .c-info p{
    font-size: 1.33em;
}

.card .c-multiple-thumbnail{
    position: relative;
    width: 100%;
    padding: 16px;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    gap: 16px;
}

.card .c-multiple-thumbnail::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 85%;
    background-image: url(/img/icon/spark-1.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.card .c-multiple-thumbnail::after{
    content: '';
    position: absolute;
    top: 16px;
    left: 50%;
    width: 50%;
    height: 95%;
    background-image: url(/img/icon/spark-2.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.card .c-multiple-thumbnail picture img{
    max-width: 100%;
}

.card .c-multiple-thumbnail picture:nth-child(1){
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;
    justify-self: end;
}

.card .c-multiple-thumbnail picture:nth-child(2){
    margin-top: 16px;
}

.card .c-actions{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    gap: 16px;
}

.card.card-4 .c-actions,
.card.card-5 .c-actions{
    justify-content: center;
}

.card .c-actions > *{
    width: fit-content;
}

.card.card-5 .c-actions .btn-terciary{
    color: #6E1EE6;
}

.card .c-thumbnail{
    width: 100%;
    display: flex;
    justify-content: center;
}

.card.card-4 .c-thumbnail{
    display: none;
}

@media (min-width: 360px){
    .card .c-thumbnail img,
    .card .c-thumbnail svg{
        width: 164px;
        height: auto;
    }
}


