* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: IsidoraSans-Bold;
    src: url(/fonts/isidora-sans/IsidoraSans-Bold.ttf) format('truetype'),
        url(/fonts/isidora-sans/IsidoraSans-Bold.otf) format('opentype');
    display: swap;
}

@font-face {
    font-family: IsidoraSans-SemiBold;
    src: url(/fonts/isidora-sans/IsidoraSans-SemiBold.ttf) format('truetype'),
        url(/fonts/isidora-sans/IsidoraSans-SemiBold.otf) format('opentype');
    display: swap;
}

@font-face {
    font-family: IsidoraSans-Regular;
    src: url(/fonts/isidora-sans/IsidoraSans-Regular.ttf) format('truetype'),
        url(/fonts/isidora-sans/IsidoraSans-Regular.otf) format('opentype');
    display: swap;
}

body {
    font: 12px/1.2 IsidoraSans-Regular, sans-serif;
    color: var(--font-color-primary);
    background: var(--white-color);
}

h1 {
    font: 2.33em/1.2 IsidoraSans-Bold, sans-serif;
}

h2 {
    font: 2em/1.2 IsidoraSans-Bold, sans-serif;
}

h3 {
    font: 1.33em/1.2 IsidoraSans-Bold, sans-serif;
}

h4 {
    font: 1.167em/1.2 IsidoraSans-Bold, sans-serif;
}

p {
    font: 1em/1.2 IsidoraSans-Regular, sans-serif;
}

a,
button {
    font: 1.167em/1.2 IsidoraSans-SemiBold, sans-serif;
    color: var(--font-color-primary);
    border: none;
    background: none;
}

li {
    list-style: none;
}

details {
    font-size: 1.33em;
    background: var(--primary-c-2);
    padding: 16px;
    padding-left: 58px;
    border-radius: 8px;
}

details summary {
    font-family: IsidoraSans-SemiBold;
    position: relative;
    min-height: 30px;
    padding-right: 22px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

details[open] summary {
    margin-bottom: 8px;
}

details summary::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -42px;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    background-image: url(/img/telollevo/icon/luggage.svg);
    background-size: contain;
}

details summary::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 14px;
    height: 14px;
    background-image: url(/img/telollevo/icon/chevron-down.svg);
    background-size: contain;
}

details[open] summary::after {
    transform: translateY(-50%) rotate(180deg);
}

img,
svg {
    vertical-align: bottom;
}

hr {
    background: var(--separator-color-light);
    border: 0.5px solid var(--separator-color-light);
}

@media (min-width: 768px) {
    body {
        font-size: 14px;
    }
}

@media (min-width: 1280px) {
    h1{
        font-size: 3em;
    }

    h2{
        font-size: 2.57em;
    }

    h3{
        font-size: 1.71em;
    }

    h4{
        font-size: 1.285em;
    }

    details{
        padding: 20px 16px;
        padding-left: 68px;
    }

    details summary::before{
        left: -52px;
        width: 40px;
        height: 40px;
    }
}