*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: IsidoraSans-Bold;
    src: url(/fonts/isidora-sans/IsidoraSans-Bold.ttf) format('truetype'),
         url(/fonts/isidora-sans/IsidoraSans-Bold.otf) format('opentype');
    display: swap;
}

@font-face {
    font-family: IsidoraSans-SemiBold;
    src: url(/fonts/isidora-sans/IsidoraSans-SemiBold.ttf) format('truetype'),
         url(/fonts/isidora-sans/IsidoraSans-SemiBold.otf) format('opentype');
    display: swap;
}

@font-face {
    font-family: IsidoraSans-Regular;
    src: url(/fonts/isidora-sans/IsidoraSans-Regular.ttf) format('truetype'),
         url(/fonts/isidora-sans/IsidoraSans-Regular.otf) format('opentype');
    display: swap;
}

body{
    font: 12px/1.2 IsidoraSans-Regular, sans-serif;
    color: #444344;
    background: #fff;
}

h1{
    font: 2.33em/1.2 IsidoraSans-Bold, sans-serif;
}

h2{
    font: 2em/1.2 IsidoraSans-Bold, sans-serif;
}

h3{
    font: 1.33em/1.2 IsidoraSans-Bold, sans-serif;
}

h4{
    font: 1em/1.2 IsidoraSans-Bold, sans-serif;
}

a,
button{
    font-family: IsidoraSans-SemiBold;
    color: #444344;
    border: none;
    background: none;
}

.btn{
    padding: 8px 12px;
    min-height: 40px;
    border-radius: 50%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 12px;
}

.btn.btn-primary{
    background: #F0F1FA;
}

.btn.btn-complain-book{
    padding: 16px 12px;
    border-radius: 8px;
    width: fit-content;
}

img,
svg{
    vertical-align: bottom;
}

hr{
    background: #cdcdcd;
    border: 0.5px solid #cdcdcd;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 12px 16px;
    background: #fff;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 4px;
}

header nav{
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
}

header #btn-auth{
    margin-left: auto;
}

header .btn{
    padding-top: 0;
    padding-bottom: 0;
}

main{
    width: 100%;
    padding-top: 64px;
    min-height: 200px;
}

section{
    width: 100%;
    padding: 48px 16px;
}

section .s-header{
    margin-bottom: 32px;
}

footer{
    width: 100%;
    padding: 24px 16px;
    display: flex;
    flex-flow: column wrap;
    gap: 20px;
}

footer ul{
    display: flex;
    flex-flow: column;
    gap: 8px;
}

footer ul li{
    list-style: none;
}

footer a{
    text-decoration: none;
}

footer hr{
    margin-top: 12px;
}

footer ul.f-caption{
    flex-flow: row wrap;
    gap: 20px 10px;
}

footer ul.f-caption li:last-child{
    width: 100%;
}

.card-group-1{
    display: flex;
    flex-flow: column wrap;
    gap: 32px;
}

.card-1{
    padding: 0 24px;
    display: flex;
    flex-flow: row wrap;
    gap: 16px;
}

.card-1 .c-1-info{
    display: flex;
    flex-flow: column wrap;
    gap: 4px;
    flex: 1;
}