body > .n-loader{
    position: fixed;
    top: 0;
    left: 0;
    inline-size: 100vw;
    block-size: 100vh;
    color: var(--font-color-primary);
    background: var(--bg-color-body);
    opacity: 1;
    visibility: visible;
    z-index: 999;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

body[is-loaded] > .n-loader,
body.is-loaded > .n-loader{
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    transition: all .3s ease;
}

body:not(.is-loaded) > .n-loader img{
    animation: bounce-anim 1.5s infinite ease;
}

@keyframes bounce-anim {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(0);
  }
}