---
import { app } from '@helpers/app.helper'
---

<nav class="n-pwa-update">
    <p>Hay una nueva versión disponible de {app.name}. </p>
    <button class="btn btn-primary btn-sm" onclick="location.reload()">Actualizar</button>
</nav>