---
import '@styles/admin.css'

interface IProps {
	title: string,
    meta: string,
    body: string,
    path: string
}

const { title, meta, body, page } = Astro.props as IProps
---

<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
    
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    
    <title>{title}</title>
    <Fragment set:html={meta}>
</head>
<body data-page={page}>
    <Fragment set:html={body}>
    
    <script>
        import { initApp } from '@helpers/app.helper'
        initApp()
    </script>
</body>
</html>