---
// import '@styles/admin/root.css'
// import '@styles/admin/font.css'
// import '@styles/admin/global.css'
// import '@styles/admin/button.css'
// import '@styles/admin/table.css'
// import '@styles/admin/cards.css'
// import '@styles/admin/dialog.css'
// import '@styles/admin/form.css'
// import '@styles/admin/split-button.css'
// import '@styles/admin/responsive.css'

import '@styles/admin.css'

interface IProps {
	title: string,
    meta: string,
    body: string,
    path: string
}

const { title, meta, body, page } = Astro.props as IProps
---

<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
    
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    
    <title>{title}</title>
    <Fragment set:html={meta}>
</head>
<body data-page={page}>
    <Fragment set:html={body}>
    
    <script>
        import { initApp } from '@helpers/app.helper'
        initApp()
    </script>
</body>
</html>